body {
   padding: 1rem;
   background-color: #02C39A;
} 

section {
  padding: auto;
}

#form {
  width: 60%; 
  margin-left: 30%;
}

#songForm {
  width: 60%;
  padding: auto;
}

#submit {
  margin-left: 35%;
}

#submitButton {
  background-color: #028090;
}

ul {
    list-style-type: none;
}

#list {
  width: 60%;
  margin-left: 18%;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #05668D;
    color: white;
    height: 50px;
    width: 100%;
}

input {
    width: 20px;
}

.button {
  margin-left: 10%;
}

.buttons {
    float: right;
    margin: 0 auto;
    height: 100%;
    width: 21%;
}

.like {
    float: left;
    height: 100%;
    background-color: #028090;
}

.delete {
    float: right;
    height: 100%;
    background-color: #028090;
}

h1 {
    text-align: center;
}

form {
  margin-top: 50px;
}

dl {
  padding: 15px 10px;
}

dl > li {
  list-style: none;
}

dt, dd {
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

dl:nth-of-type(even) {
  background-color: WhiteSmoke;
}

@media (min-width: 700px) {
  section > div {
    width: 60%;
  }
}

@media (min-width: 900px) {
  section > div {
    float: left;
    margin: 20px 5%;
    width: 40%;
  }

  section::after {
    clear: both;
    content: "";
    display: table;
  }
}